<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>
<body>
<h3>{{ error }}</h3>
    <form method="post">
        {% csrf_token %}

        <label for="username">Введите логин</label>
        <input type="text" id="username" name="username" maxlength="30" required>

        <label for="password">Введите пароль</label>
        <input type="text" id="password" name="password" maxlength="8" required>

        <label for="password">Повторите пароль</label>
        <input type="text" id="password_" name="password_" maxlength="8" required>

        <label for="age">Введите возраст</label>
        <input type="text" id="age" name="age" maxlength="3" required>

        <button type="submit">Зарегистрироваться</button>
        <br>
        <br>
        <h3 align="center">{{ welcome }}</h3>
    </form>
</body>
</html>